.square {
    border: 1px solid black;
    margin: -1px;
    /* padding: -1px; */
    height: 100px;
    width: 100px;
    padding: 10px;
    outline: none;
    font-size: 1rem;
    line-height: 20px;
    background-color: white;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

.game {
    background-color: red;
}

.game-board{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}